<form action="/create" method="post">
    <input type="hidden" id="csrf" value="{{csrf}}" />
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="display_name">Display Name (optional): </label>
        <input type="text" id="display_name" name="display_name">
    </div>
    <div>
        <label for="email">Email (optional): </label>
        <input type="text" id="email" name="email">
    </div>
</form>
