<!DOCTYPE html>
<html>
    <head>
        <title>Wobscale Accounts</title>
    </head>
    <body>
        <h1>Wobscale Accounts</h1>
        <h1>Finish creating your Account</h1>
        <p> In order to create a Wobscale Account, we need the following
            additioanl information. </p>

        <p> You'll log into this account using your {{ oauth_provider }}
            account, {{ oauth_account_name }} </p>
        <form action="/user/create" method="post">
            <input type="hidden" id="csrf" value="{{csrf}}" />
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email">
            </div>
            <input type="submit" value="Create Account">
        </form>
    </body>
</html>
