<!DOCTYPE html>
<html>
    <head>
        <title>Wobscale Accounts</title>
    </head>
    <body>
        <h1>Wobscale Accounts</h1>
        <h1>Login to your Account</h1>
        <p> Please login to a provider associated with your Wobscale Account. </p>
        <p> If you do not yet have an account, login to create one. </p>
        <a href="/github/oauth">Login with Github</a>
    </body>
</html>
